*{
    margin: 0;
    height: 100%;
}
.title {
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    align-items: right;
    margin-left: 1000px;
    margin-bottom: 50px;
    padding-top: 100px;
    color: #ffffff;
}
.header{
background: url(../images/banner/banner3.png);
background-size: cover;
background-position: center;
width: 1700px;
height: 808px;
left: 0px;
top: 0px;
right: 0px;
bottom: 0px;
padding-left: 200px;
}
.sub-title{
    width: 494px;
height: 78px;
left: 876px;
top: 468px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: right;
color: #ffffff;
margin-left: 1030px;
}
.button-primary{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #ffffff;
    margin-top: 32px;
    margin-left: 1355px;
}

/* Main Section */

section{
    margin-top: 130px;
}


.main-part-one{
    display: flex;
    flex-direction: row-reverse;
    gap: 87px;
    border: 0;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 300px;

}

.main-part-title{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
width: 288px;
height: 94px;
left: 862px;
top: 1178px;
color: #151414;
margin-top: 370px;
}
.main-part-sub-title{
    width: 416px;
height: 104px;
left: 862px;
top: 1296px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-top: 24px;
color: #444343;
line-height: 26px;
text-align: justify;
}
li{
    width: 349px;
height: 10px;
left: 862px;
top: 1416px;
margin-top: 16px;

}
.main-part-two{
    margin-right: 87px;
}
